<header>
<nav class="navbar navbar-expand-sm bg-info-subtle fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="../../../assets/gatico.png" alt="gato" width="50" height="40">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Inicio</a>
        </li>
        <ng-container *ngIf="loginservice.isLogged(); else logged">
          <!-- aqui si esta loggeado va a mostrar lo de abajo 
          lo que es como *ngIf es como una directriz paaaa validar si esta
          o no loggeado-->
          <li class="nav-item">
            <a class="nav-link active" routerLink="/hechizos">Hechizos</a>
          </li>
          <div class="btn-group bfs mx-2 border border-warning-subtle bg-warning bg-opacity-10">
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098z"/>
              </svg>
            </button>
            <app-fav-hec></app-fav-hec>
          </div>
          <li class="nav-item">
            <a class="nav-link active" (click)="loginservice.logOut()">Cerrar sesión</a>
            <!-- el click es como el onClick pero de angular :)-->
          </li>
        </ng-container>
        <ng-template #logged>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/login">Iniciar sesión</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
</header>