main{
    background-image: url(../../../assets/fondo.jpg);
    background-repeat: cover;
}
li{
    background-color: #8F3EB5;
    color: rgba(255, 255, 0, 0.78);
    font-weight: 400;
}
.mt-list{
    margin-top: 4%;
}